<html>
<head>
  <style>
    table{
      font-family: 'poppins';
      border: 1px solid #f5473424;
      border-collapse: collapse;
      width: 100%;
    }
    td,th{
      border: 1px solid #000;
      padding : 5px;
    }

    h3{
      padding: 5px;
    }
  </style>
</head>
<body>


<h3> Booking Count </h3>
  <table style="text-align: center;">
      <tr>
        <td>Total Booking : </td>
        <td><%= bookings.length %> </td>
      </tr>
  </table>

  <h3> Booking List </h3>
  <table>
        <thead>
          <tr>
            
            <th>Name</th>
            <th>Boarding</th>
            <th>Destination</th>
            <th>Vehicle No</th>
            <th>Driver Id</th>
            <th>Driver Name</th>
            <th>Fare</th>
          </tr>
        </thead>
        <tbody>
          <% if (bookings.length > 0 ) { %>
            <% bookings.forEach(  booking => { %>
            <tr>
              
              <td><%= booking.name %> </td>
              <td><%= booking.start %> </td>
              <td><%= booking.end %> </td>
              <td align="center"><%= booking.vehicle %>
              <td align="center"><%= booking.driver %> </td>
              <td><%= booking.driverName %> </td>
              <td align="center"><%= booking.fare %> </td>
            </tr>
            <%});%>
            <%}%>
        </tbody>
      </table>
      <div style="text-align: center;">
        <h3> Thank You . Come Again !</h3>
        <h3></h3>
        <h3>Report Generated At : <%= Time %></h3>
      </div>

</body>
</html>
